#break-game-ball {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;
    z-index: 11;
}

#break-game-button {

}

#break-game-score {

}

#break-game-footer {

}

#break-game-player {
    position: absolute;
    width: 150px;
    height: 10px;
    background-color: red;
    border-radius: 3px;
    bottom: 10px;
}

.break-game-element {
    z-index: 11;
    background: white;
}
